html,
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;

}

* {
  margin: 0;
  padding: 0;
}


/***********************FLEXBOX NAVBAR**************************/
.Navbar {   background-color: #fff;  display: flex;
  padding:16px 16px 0px 20%; font-family: sans-serif;}

  .Navbar__Items,
    .Navbar {    flex-direction: column;  }
  .Navbar__Items {    display:none; padding-top:5%;


   }
   .Navbar a {  color: #2EA3F2;
   text-decoration: none;
   font-size:1.5em;
   font-weight: 500;


  }
  .Navbar__Link {
    margin-bottom:5%;


  }

  .Navbar__Items--right {    margin-left: 0;  }
  .Navbar__Link-toggle {  align-self: flex-end;  display: initial;  position: absolute;  cursor: pointer;}
  .Navbar__ToggleShow { display:flex;}

#logo{
  background: url('https://user-images.githubusercontent.com/27768549/59360216-9be18580-8d27-11e9-9890-9ca7ff9e3d47.jpg');
  width:50px;
  height:50px;
}



  /**************************768 ESXPANSION POINT*********************************/
  @media only screen and (min-width: 768px)
{
  .Navbar {  display: flex;

  font-family: sans-serif; width: 100%;
  flex-direction:row;
  margin-top:-3rem;
  border-bottom:2px solid #2EA3F2;

  top:0;
  width:100%;
  overflow:hidden;
}
.Navbar a {  color: #2EA3F2;
text-decoration: none;
font-size:0.95em;
font-weight: 500;

}
.Navbar__Items {  display:flex; flex-direction:row; }

.Navbar__Link {  padding-right: 20%; }

.Navbar__Link-toggle {  display: none;}
}
.menuFirst {
  margin-right: auto;
}

.logo{
  background:url("https://user-images.githubusercontent.com/27768549/59360216-9be18580-8d27-11e9-9890-9ca7ff9e3d47.jpg");
  width:50px;
  height:50px;}
/*****************************
TODO - MEDIA QUERY ON SAFARI IPHONE
*******************************/

/********************************WELCOME SECTION******************************/
#welcome-section {

  background:url("https://user-images.githubusercontent.com/27768549/59288591-0b923a80-8c6c-11e9-93e9-0abe041bdb02.jpg");

  padding-top: 35vh;
  height:100vh;

}

.intro p {
  color: green;
}

.wrapper{
  width: 80%;
  margin: -10% auto 20px;
  text-align: center;
  padding: 10px;
  color: #fff;
font-size:1.5em;
  /*box-shadow: 0 0 10px rgba(55,55,55,.5);*/

  border-radius: 4px;

  padding: 5px;
  font-family: 'PT Sans Narrow', sans-serif;


}



.username
{
  font-size: 2.5rem;
  font-weight: 700;
  padding:5%;
}


#aboutTxt
{
  color:white;
  font-size:1.5rem;
  font-weight: 500;
  margin:2%;
  letter-spacing: .6px;
}

/**************************768 EXPANSION POINT*********************************/
@media only screen and (min-width: 768px)

{
  .username
  {
    font-size: 4rem;
    font-weight: 700;
    padding:2%;
  }
}

/*********************************ALL PROJECT SECTIONS***********************************************/

.project {
  text-decoration: none;
  color: #008080;
  display: inline-block;
  overflow: hidden;
  border: 2px solid lightblue;
  height: 220px;
  width: 280px;
  margin: 40px 100px;
}

.project-pic {
  width: 100%;
  height: 180px;
  border-bottom: 2px solid lightblue;
}

.project-title {
  font-weight: bold;
}

.show-all {
  text-decoration: none;
  display: block;
  width: 200px;
  height: 30px;
  margin: 20px auto 90px;
   background: #e0ebe8;
  color: #008080;
  font-weight: bold;
  font-size: 1em;
  border: 2px solid #90C695;
  border-radius: 4px;
  cursor: pointer;
  padding-top:10px;
}


.show-all:hover {
  background: #E4F1FE;
  color: green;
}
.headerBg{
  line-height: 0.75em;
}
/**************************768 ESXPANSION POINT*********************************/
@media only screen and (max-width: 768px)
{

}
/************ SERVICES SECTION******************************************/
.services {
  padding-top: 60px;
  margin-top: -60px;
}

.services-header {
  margin: 2%;
  color: #2EA3F2;
  font-weight: 600;
  text-align:center;
  font-size: 2rem;
  color: #008080;
}
#servicesHeaderBg{
  border:lightblue 1px solid;
  background-color: #efefef;
  width:100%;
}
.services-text {
  color: #008080;
  text-align: :center;
font-size:1rem;
  padding-bottom:10px;
}
.servicesTile {
  text-decoration: none;
  color: #008080;
  display: inline-block;
  overflow: hidden;

  height: 220px;
  width: 280px;
  margin: 40px 100px;
}

.services-pic {
  width: 100%;
  height: 180px;
  border-bottom: 2px solid lightblue;
}


/*************************************768 EXPANSION POINT****************************************/
@media only screen and (max-width: 768px)
{
  #servicesHeaderBg{
    border:lightblue 1px solid;
    background-color: #efefef;
    width:100%;
  }
  .services-text {
    color: #008080;
    text-align: :center;
  font-size:1rem;
  padding-bottom:10px;
  }
}


/************ WORK SECTION******************************************/
.work {
  padding-top: 60px;
  margin-top: -60px;

}
#workTiles{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width:100%
}
#project1{
  grid-column: span 2;
grid-row: span 2;
}
#project2{
  grid-column: span 2;
grid-row: span 2;
}
#project3{
  grid-column: span 2;
grid-row: span 2;
}
#project4{
  grid-column: span 2;
grid-row: span 2;
}
#project5{
  grid-column: span 2;
grid-row: span 2;
}

.work-header {
  margin: 2%;
  color: white;
  font-weight: 600;
  text-align:center;
  font-size: 2rem;

}
#workHeaderBg{
  border:lightblue 1px solid;
  background-color: black;
  width:100%;
}

/**************************768 ESXPANSION POINT*********************************/
@media only screen and (max-width: 768px)
{
  #workHeaderBg{
    border:lightblue 1px solid;
    width:100%;
  }
}

/************ ARTICLES SECTION******************************************/
.articles {
  padding-top: 60px;
  margin-top: -60px;
}

.articles .articles-header {
  margin-top: 50px;
  color: #008080;
  font-weight: normal;
}

/**************************768 ESXPANSION POINT*********************************/
@media only screen and (max-width: 768px)
{

}
/************ CONTACT  SECTION******************************************/
.contact {
  /*   height:800px; */
  /*   min-height:800px; */
  background: #C8F7C5;
  padding-bottom: 160px;
}

.header {
  padding: 160px 0 110px;
}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #90C695;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
  color: #008080;
  text-decoration: none;
}

.contact-details:hover {
  background: #E4F1FE;
  color: green;
}



  .contact-details {
    border: 2px solid #90C695;
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
  /**************************768 ESXPANSION POINT*********************************/
  @media only screen and (max-width: 768px)
{

}
  /************ FOOTER SECTION******************************************/
footer {
  padding: 20px;
  background: #22313F;
  color: white;
  line-height: 40px;
}

footer a {
  color: white;
}
/**************************768 ESXPANSION POINT*********************************/
@media only screen and (max-width: 768px)
{

}
