html,
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

#welcome-section {
  top: 0;
  background: #e0ebe8;

  padding-top: 45vh;
  height:300vh;

}

.intro p {
  color: green;
}
/****menu*******************************************

.main-nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: #e0ebe8;
}

.main-nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}

.main-nav ul li a {
  color: #008080;
  text-decoration: none;
}

.main-nav ul li a:hover {
  color: green;
}
.main-nav .icon { display:none;}

.fa-bars {
    font-size: 1.4em;
}

.logo img {
    display: block;
    height: 70px;
}

@media screen and (max-width: 600px) {

}

****/
/***********************FLEXBOX NAVBAR*************************************/
.Navbar {   background-color: #e0ebe8;  display: flex;  padding:16px 16px 0px 20%; font-family: sans-serif;  color:#008080;
}
.Navbar a {  color: #008080;
text-decoration: none;

}
.Navbar__Items {  display:flex; }
.Navbar__Link {  padding-right: 20%; }

.Navbar__Link-toggle {  display: none;}

@media only screen and (max-width: 768px)
{  .Navbar__Items,
  .Navbar {    flex-direction: column;  }
.Navbar__Items {    display:none; padding-top:5%;

 }
.Navbar a{

  font-size:1.5em;

}
.Navbar__Link {
  margin-bottom:5%;
}

.Navbar__Items--right {    margin-left: 0;  }
.Navbar__Link-toggle {  align-self: flex-end;  display: initial;  position: absolute;  cursor: pointer;}
.Navbar__ToggleShow { display:flex;}

}
/************ WORK SECTION**************/
.work {
  padding-top: 60px;
  margin-top: -60px;
}

.work .work-header {
  margin-top: 50px;
  color: #008080;
  font-weight: normal;
}







.wrapper{
  width: 70%;
  margin: -10% auto 20px;
  text-align: center;
  padding: 10px;
  color: #fff;
font-size:1.5em;
  box-shadow: 0 0 10px rgba(55,55,55,.5);

  border-radius: 4px;
height:20%;
  padding: 5px;
  font-family: 'PT Sans Narrow', sans-serif;
  background:#663399;
}

@media only screen and (max-width: 768px)
{.wrapper{
  height:auto;
}

.profile-pic {
  width: 80px;
  height: 80px;
  margin: 10px auto;
  margin-top: -30px;
  border-radius: 50%;
  border: 2px solid #fff;
  @include trans($time: .3s);
  &:hover {
    cursor: pointer;
    transform: translateY(-10px) scale(1.3);
  }
}

.name {
  font-size: 22px;
  font-weight: 500;
}

.username {
  font-size: 18px;
  font-weight: 300;
}

.about-me {
  padding: 10px 60px;
  letter-spacing: .6px;
  font-weight: 300;
  margin: 20px 0px;
  color:white;
}
#aboutTxt{
  color:white;
}
.stats {
  background: #fff;
  color:   #663399;
  padding: 10px;
display:flex;
  justify-content: space-around;
  margin: 30px 20px 20px;
  border-radius: 3px;
  color:#663399;

  .num {
    font-weight: 500;
    font-size: 20px;
  }
  .item{
    @include trans($time:.2s);
    &:hover{
      color: #999;
    }
  }

}

/***************************PROJECTS*******************************************/

.project {
  text-decoration: none;
  color: #008080;
  display: inline-block;
  overflow: hidden;
  border: 2px solid lightblue;
  height: 220px;
  width: 280px;
  margin: 40px 100px;
  /*   background: url("https://res.cloudinary.com/dck40m3wf/image/upload/v1455459914/Portfolio/fancy-floral-pattern-384.jpg") repeat; */
}

.project-pic {
  width: 100%;
  height: 180px;
  border-bottom: 2px solid lightblue;
}

.project-title {
  font-weight: bold;
}

.show-all {
  text-decoration: none;
  display: block;
  width: 200px;
  height: 30px;
  margin: 20px auto 90px;
   background: #e0ebe8;
  color: #008080;
  font-weight: bold;
  font-size: 1em;
  border: 2px solid #90C695;
  border-radius: 4px;
  cursor: pointer;
  padding-top:10px;
}


.show-all:hover {
  background: #E4F1FE;
  color: green;
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}

.contact {
  /*   height:800px; */
  /*   min-height:800px; */
  background: #C8F7C5;
  padding-bottom: 160px;
}

.header {
  padding: 160px 0 110px;
}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #90C695;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
  color: #008080;
  text-decoration: none;
}

.contact-details:hover {
  background: #E4F1FE;
  color: green;
}

footer {
  padding: 20px;
  background: #22313F;
  color: white;
  line-height: 40px;
}

footer a {
  color: white;
}

@media only screen and (max-width: 367px) {
  /*    #contact{
    min-height:1100px;
  } */
  .contact-details {
    border: 2px solid #90C695;
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
}
